#video{
    width:100%;
    height:500px;
    border: none;
} 
.travel_manDiv
{
border: 1px solid lightgray;
}

.travel_mainDiv img
{
    width:100%;
}

.travel_mainDiv h5, .travel_main div p
{
margin: 20px;
}
.novidade
{
margin-bottom: 20px;
}

#contato iframe
{
    width: 100%;
}